{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block content %}

<style>
    hr {
        margin-top: 1rem;
        margin-bottom: 1rem;
        border-top: 1px solid rgba(0, 0, 0, 0);
    }
</style>

<hr>


<div class="container">

    <a class="btn btn-success btn-lg" href="{% url 'connect:add_help' %}" role="button">I want to register to help!</a>
    <hr>

    <h3>There are other superheroes who would like to help too. Feel free to connect.</h3>


    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Place</th>
                <th scope="col">Phone</th>
                <th scope="col">Can Provide</th>
            </tr>
        </thead>
        <tbody>
            {% for help in helps %}
            <tr>
                <th scope="row">{{ help.id }}</th>
                <td>{{ help.name }}</td>
                <td>{{ help.address }}</td>
                <td>{{ help.contact }}</td>
                <td>{% for need in help.needs.all %} <span
                        class="badge badge-pill badge-success">{{need}}</span>{% endfor %}</td>


            </tr>
            {% endfor %}

        </tbody>

    </table>

</div>

{% endblock %}